<!-- start custom footer snippets -->
<div class="footer fullwidth bgCyan">
  <div class="wrapper">
    <div class="footerBg">
    </div>
    <div class="footerSection1">
      <!--Start footerSection1-->
      <h1>Useful Links</h1>
      <div class="menu-footer-menu-container">
        <ul id="menu-footer-menu" class="menu">
        <li class="menu-item menu-item-type-post_type menu-item-object-page page_item
        {% if page.navPage == 'homePage' %}
                    current-menu-item
                    {% endif %}">
        <a href="/">Home</a>
    </li>
        <li id="menu-item-599" class="menu-item menu-item-type-post_type menu-item-object-page
        {% if page.navPage == 'aboutPage' %}
        current-menu-item
        {% endif %}
        ">
          <a href="/about-us/">About Us</a>
      </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page
            {% if page.navPage == 'servicesPage' or page.navPage == 'websiteDevelopmentPage' or page.navPage == 'websiteDesignPage' or page.navPage == 'seoServicesPage' or page.navPage == 'digitalStrategyPage' %}
                    current-menu-item
                    {% endif %}">
          <a href="/services/">Services</a>
        </li>
        <li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page
                  {% if page.navPage == 'portolioPage' %}
                    current-menu-item
                    {% endif %}">
          <a href="/portfolio/">Portfolio</a>
      </li>
        <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page
        {% if page.navPage == 'blogPage' %}
          current_page_item
         {% endif %}">
          <a href="/blog/">Blog</a>
      </li>
        <li id="menu-item-796" class="menu-item menu-item-type-post_type menu-item-object-page
        {% if page.navPage == 'careersPage' %}
          current_page_item
         {% endif %}
        ">
          <a href="/careers/">Careers</a>
      </li>
        <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page
        {% if page.navPage == 'contactUsPage' %}
          current_page_item
         {% endif %}
        ">
          <a href="/contact-us/">Contact Us</a>
      </li>
      </ul>
    </div>

      <div class="menu-footer-second-menu-container">
        <ul id="menu-footer-second-menu" class="menu">
          <li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page
          {% if page.navPage == 'onlineStoresPage' %}
          current_page_item
         {% endif %}
          ">
            <a href="/online-stores/">Online stores</a>
          </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page
          {% if page.navPage == 'creativeMarketingWebsitePage' %}
          current_page_item
         {% endif %}
        ">
          <a href="/creative-marketing-website/">Creative marketing <span class="yellow">website</span>
        </a>
      </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page
          {% if page.navPage == 'onlineBrochurePage' %}
          current_page_item
         {% endif %}
        ">
          <a href="/online-brochure/">Online brochure</a>
      </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page
          {% if page.navPage == 'ecommerceSitesPage' %}
          current_page_item
         {% endif %}
        ">
          <a href="/ecommerce-sites/">ECommerce <span class="yellow">sites</span>
        </a>
      </li>
        <li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page
          {% if page.navPage == 'marketingPage' %}
          current_page_item
         {% endif %}
        ">
          <a href="/marketing/">Marketing</a>
      </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page
          {% if page.navPage == 'corporateWebsitesPage' %}
          current_page_item
         {% endif %}
        ">
          <a href="/corporate-websites/">Corporate <span class="yellow">websites</span>
        </a>
        </li>
      </ul>
    </div>
      <div class="clear">
      </div>
    </div>
    <!--End footerSection1-->
    <div class="footerSection2">
      <!--Start footerSection2-->
      <div class="footer_middel">			<div class="textwidget">
        <img id="map" src="{{ 'assets/images/map.png' | relative_url }}" alt="" title="">
        <img id="businness-member" title="" alt="" src="{{ 'assets/images/Businness%20Member.png' | relative_url }}">


      </div>
      </div>                </div>

    <div class="footerSection3">
      <!--Start footerSection2-->
      <div id="tabs-container">
        <ul class="tabs-menu">
          <li class="current twitter">
            <a href="#tab-1">Latest Tweets</a>
        </li>
          <li class="facebook">
            <a href="#tab-2 ">Facebook</a>
        </li>
        </ul>
        <div class="tab">
          <div id="tab-1" class="tab-content">
            <a class="twitter-timeline" href="https://twitter.com/connect2ozweb" data-widget-id="588356893036318721">Tweets by @connect2ozweb</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>


          <div id="tab-2" class="tab-content" style="overflow: auto">
            <div class="footer_facebook">
              <div class="textwidget">
                <div class="cff-wrapper">
                  <div id="cff" data-char="10" class="cff-fixed-height cff-default-styles" style="height:250px; ">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fozweb%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId=267242420460299" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                  </div>
                  <div class="cff-clear"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="clear">
    </div>
  </div> <!--End Wrapper-->
  <style type="text/css">

   .footerBottomLeft {
    margin-top: -16px
   }

      @media screen and (max-width: 1024px) {
         #comodo{
          width: 10%;
      }
    }
  </style>
  <div class="darkCyanBg">
    <div class="footer_copyright">			<div class="textwidget">
      <div class="wrapper footerBottom">
      <div class="footerBottomLeft">Copyright © 2018 Connect2OzWeb . All Rights Reserved.    <a href="/terms-conditions/">Terms &amp; Conditions</a> | <a href="/privacy-policy/">Privacy Policy</a>
        <img id="comodo" src="{{ 'assets/images/comodo_secure_s.png' | relative_url }}">
      </div>

      <div class="footerBottomRight">
        <ul class="socialNetBottom">
          <li>
            <a href="https://www.facebook.com/pages/139205586146142?ref=tn_tnmn">
            <i class="fa fa-facebook">
          </i>
        </a>
        </li>
          <li>
            <a href="https://twitter.com/connect2ozweb">
            <i class="fa fa-twitter">
          </i>
        </a>
        </li>
          <li>
            <a href="https://plus.google.com/">
            <i class="fa fa-google-plus">
          </i>
        </a>
        </li>
          <li>
            <a href="https://www.linkedin.com">
            <i class="fa fa-linkedin">
          </i>
        </a>
        </li>
        </ul>
      </div>
    </div>
  </div>
    </div>            </div>
</div>

<!-- end custom footer snippets -->