---
layout: portfolio
navPage: portolioPage
title: 'Portfolio'
parmalink: /portfolio/
partials:
    testimonials: true
    blog_resent_posts: true
tags: 
    - connect2ozweb
description: ""
---

<div class="innerMiddle">
  <div class="breadcrumbs">
    <!-- Breadcrumb NavXT 5.6.0 -->
    <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to Home."
                                   href="" class="home">Home</a></span> &gt; <span
    typeof="v:Breadcrumb"><span property="v:title">Our <span class="yellow">Portfolio</span></span></span></div>
  <div class="innerContent">

    <div id="primary" class="content-area">
      <div id="content" class="site-content" role="main">


        <article id="post-16" class="post-16 page type-page status-publish hentry">
          <header class="entry-header">

            <h1 class="entry-title">Our <span class="yellow">Portfolio</span></h1>
          </header><!-- .entry-header -->
          <div class="entry-content">
            <div class="afp-clear"></div>
            <div class="InnerPortfolio">
              <div id="afp-container">
                <div id="afp-container-right">
                  <ul id="afp-filter">
                    <li id="cat-all" class="afp-active-cat"><a href="#" class="All">All</a></li>
                    <li id="cat-1"><a href="#" class="Websites">Websites</a></li>
                    <li id="cat-2"><a href="#" class="Ecommerce">E commerce</a></li>
                    <li id="cat-3"><a href="#" class="Logo">Logo</a></li>
                  </ul>
                </div>
                <div id="afp-container-left">
                  <ul class="afp-items view">
                  {% for portfolio_attr in site.data.portfolio %}
                  {% if portfolio_attr.img and portfolio_attr.category and portfolio_attr.target-name %}
            <li class="view-tenth afp-single-item" data-id="id-'{{ forloop.index }}" data-type="{{ portfolio_attr.category }}">
                <img alt="{{ portfolio_attr.title }}" class="img-link-initial" src="{{ portfolio_attr.img | relative_url }}">
                <div class="mask">
                    <a target="_blank" href="{{ portfolio_attr.target-url }}" class="mask_link">{{ portfolio_attr.target-name }}</a><br/>
                    <a target="_blank" href="{{ portfolio_attr.target-url }}">
                        <div class="link"><i class="fa fa-link"></i></div>
                    </a>
                    <a id="colorbox-show-1" class="colorbox cboxElement" title="{{ portfolio_attr.title }}"
                       href="{{ portfolio_attr.img | relative_url }}">
                        <div class="search"><i class="fa fa-search"></i></div>
                    </a>
                </div>
              </li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="afp-clear"></div>
          </div><!-- .entry-content -->
        </article><!-- #post -->
      </div><!-- #content -->
    </div><!-- #primary -->

  </div><!--End Inner Middle section-->
  <div class="clear"></div>
</div>
  <div class="clear"></div>
