---
layout: home
navPage: homePage
partials:
testimonials: true
blog_resent_posts: true
parmalink: /index.html
---
<!--End Wrapper-->
<div class="our_work_process">
  <div class="textwidget"><!--Start workprocessSection-->
    <div class="workSection fullwidth">


      <div class="middleWrapper">
        <div class="workSectionLeft"><!--Start workSectionLeft-->
          <img src="{{ 'assets/images/workprocess_img.png' | relative_url }}" alt="" title="" style="width: 100%">
        </div><!--End workSectionLeft-->
        <div class="workSectionRight"><!--Start workSectionRight-->
          <h1>Our <span class="white"> Work Process</span></h1>
          <p>We can assist to boost your business from a basic one pager site to multiple pages of online product catalogue. Also, to establish a web presence, you can make use of the following directions:</p>
          <ul class="workInfo">
            <li>
              <div class="workNo">01</div> <div class="workTxt">Register a web address/url/domain name – Make sure the address you have is unique and available.</div></li>
            <li>
              <div class="workNo">02</div> <div class="workTxt">Place order for the website – We create and design websites specifically tailored to your requirements.</div></li>
            <li>
              <div class="workNo2">03</div> <div class="workTxt">Initiate a web hosting account – The web server which hosts your domain name and website on the internet.Through this you can email your ids.</div></li>
            <li>
              <div class="workNo2">04</div> <div class="workTxt">Promoting your website online – We offer pay per click advertising through Google. To promote your website you also need to put in SEO efforts.</div></li>
          </ul>
        </div><!--End workSectionRight-->
        <div class="clear"></div>
      </div>

    </div><!--End workprocessSection--> </div>
</div>
<!--Start portfolio section-->
<div class="clear"></div>
<!--End portfolio section-->
{% include partials/portfolio.html %}
<div class="clear"></div>
{% include partials/testimonials.html %}
<div class="clear"></div>
{% include partials/blog_resent_posts.html %}
<div class="clear"></div>
<br>
<br>
